<!DOCTYPE html>
<html>
  <head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../static/css/login.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css" media="screen,projection"/>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body >
    <a href="{{url_for('ventana_admin') }}" ><h3>LOGIN</h3></a>
    <div id="login-page" class="row">
        <div class="col s12 z-depth-6 card-panel">
          <form class="login-form" action="{{url_for('ventana_admin') }}" method="post">
            <div class="row">
            </div>
            <div class="row">
                <div class=" col s12 m4 l4 offset-m4 offset-l4 grays">
                  <h5 class="center-align">Login</h5>
                </div>
              </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input type="text" name="username" class="validate">
                <label for="username">Usuario</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                <input  type="password" name="password" >
                <label for="password">Contraseña</label>
              </div>
            </div>
            <div class="row">          
              <div class="input-field col s12 m12 l12  login-text">
                  <input type="checkbox" />
                  <label for="remember-me">Recordar</label>
              </div>
            </div>
            <button class="btn btn-primary" type="submit">Crear</button>
            <br><br>
          </form>
        </div>
      </div> </body>
    
    
</html>