{% extends "index.html" %}
{% block body %}
<br>
<a href="{{url_for('volver') }}" class="btn btn-info">OK</a>
<h1>Inscritos por evento</h1>

<div class="container">          
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>DNI</th>
          <th>Nombre y apellido</th>
          <th>Categoria</th>
          <th>Evento</th> 
        </tr>
      </thead>
      <tbody>
        {% for p in part %}
          <tr>
            <td>{{p.dni}}</td>
            <td><p>{{p.nombre }} {{p.apellido_p }} {{p.apellido_m }}</p></td>
            <td>{{p.categoria}}</td>
            <td>{{id_e}}</td> 
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3>Total: {{cantidad}}</h3>
   
  </div> 
  
{% endblock %}

      
